# File explorer metadata
.DS_Store
thumbs.db

# IDE settings
.idea/
.vscode/

# Node
node_modules

# Yarn
yarn-error.log
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# TypeScript
build/
tsconfig.tsbuildinfo
